<!-- footer -->

<div class="container foot">
    <p>@ Copyright 2021 by HRITHIK MALLICK. </p>
    <div class="d-flex text-center footi mt-1">
        <a href="https://www.linkedin.com/in/hrithik-mallick-30599620a"><i class="fab fa-linkedin "
                style="font-size: 30px;"></i></a>&nbsp;&nbsp;
        <a href="https://github.com/hrithikmallick" class="text-dark"><i class="fab fa-github "
                style="font-size: 30px;"></i></a>

    </div>
</div>